.app-theme {
  background-image: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.app-theme * {
  color: rgb(0, 0, 0);
}
.no-border {
  border: none;
}
.border-top {
  border-top: solid 1px rgb(0, 0, 0)
}
.bold {
  font-weight: bold;
}
scale trough * {
  background-color: #ff0000;
  color: #ff0000;
}
